{exp:channel:entries channel="entry" category_group="6" category="{embed:category}" limit="4" status="{embed:status}"}
<article class="{switch='c-1|c-2|c-3|c-4'}">
    <a href="{base}articles/reading/{url_title}/" class="image">
        <img src="{entry_image:3_col_large}" style="width: 100%">
        <span class="icon bottom-right-icon video small"></span>
    </a>

    <h1 class="beta"><a href="{base}articles/reading/{url_title}/">{entry_name_lng}</a></h1>
    <p class="mt-10">{entry_excerpt_lng}</p>
</article>
{/exp:channel:entries}