<div class="row">
    {exp:channel:entries channel="entry" category_group="2" category="38" limit="4" status="{embed:status}"}
    <article class="col-sm-3 col-md-3">

        <div class="thumbnail">
            <a href="{base}fashion-fix/{url_title}/" title="{entry_name_{language_code}}">
                <img data-original="{entry_image:3_col_large}" class="lazy img-responsive" alt="{entry_name_{language_code}}">
                <noscript>
                    <img src="{entry_image:3_col_large}" class="img-responsive" alt="{entry_name_{language_code}}">
                </noscript>
            </a>

            <div class="caption">
                <h3>
                    <a href="{base}fashion-fix/{url_title}/" title="{entry_name_{language_code}}">{entry_name_{language_code}}</a>
                </h3>

                <p>{entry_excerpt_{language_code}}</p>

                <p>
                    <a href="{base}fashion-fix/{url_title}/" title="{entry_name_{language_code}}" class="btn btn-primary" role="button">View Fashion Fix</a>
                    <a href="#" class="btn btn-default" role="button"><i class="fa fa-heart"></i> 3{count}4</a>
                </p>
            </div>
        </div>

    </article>
    {/exp:channel:entries}
</div>
