html,body {
  font-family: "proxima-nova",sans-serif;
}

// Navbar
.navbar-brand {
  padding: @new-navbar-padding-vertical @navbar-padding-horizontal;
}

// Lazy load
// To prevent both placeholder and the real image showing at the same time - hide the placeholder with css.
.lazy {
  display: none;
}

