// Global Overrides
// -------------------------
@font-family-base:  'ubuntu', sans-serif;
@font-family-secondary: 'Montserrat', sans-serif;
@font-family-tertiary: 'Open Sans', sans-serif;

// Flexslider Fonts Src directory
// -------------------------
@font-path: "../vendor/flexslider/fonts";

// NavBar overrides
// -------------------------
@navbar-height: 65px;
@new-navbar-padding-vertical: ((@navbar-height - @line-height-computed) / 4);
@navbar-collapse-max-height: 340px;
@navbar-default-color: #fff;
@navbar-default-bg: #fff;
@navbar-default-border: #fff;

// Logo
// -------------------------


// Brand colors
// -------------------------

@brand-primary: #3f324d;
@brand-white: #fff;