// Brand colors
// -------------------------

@brand-primary: #3f324d;

@navbar-height: 130px;
@new-navbar-padding-vertical: ((@navbar-height - @line-height-computed) / 3);
@navbar-collapse-max-height: 340px;

@navbar-default-color: #fff;
@navbar-default-bg: #fff;
@navbar-default-border: #fff;
