{embed="__includes/wrapper" body_class="fashion-fix-listing"}

{exp:partials:set name="page_title"}Fashion Fix{/exp:partials:set}

{exp:partials:set name="main"}

<section class="row">
    <div class="col-md-12">
        <header class="entry-header">
            <h2>{featured_fashion_fixes_{language_code}}</h2>

            <p>{fashion_fix_para_{language_code}}</p>
            <hr>
        </header>

        {embed="fashion-fix/featured" status="{entry_status_lng}"}
    </div>
</section>

<div id="content">

    <section class="content-section">

        {embed="fashion-fix/list" status="{entry_status_lng}"}

    </section>

</div>

{/exp:partials:set}