<section class="competitions-all">
    <div class="row">
        <div class="col-xs-12">

            <br class="clearfix">

            <h2>
                {comp_all_{language_code}} {comp_competitions_{language_code}}
            </h2>

            <p>{comp_allcomps_desc_{language_code}}</p>

            <hr>

            <div class="row">
                {exp:channel:entries channel="offers" cache="yes" refresh="30" show_future_entries="yes" show_expired="yes" orderby="expiration_date" sort="desc" dynamic="no" {if '{embed:detail_entry_id}'}entry_id="not {embed:detail_entry_id}{/if}" search:offer_comphide="no"}
                    {exp:grouper:start groupby="4" count="{count}" total="{total_results}"}
                    <div class="clearfix">
                        {/exp:grouper:start}

                        <div class="col-sm-3 {if '{language_code}' == 'en'}{if:else}pull-right{/if}">
                            <div class="polaroid drop-shadow">
                                {if offer_custom_competition == 'n'}
                                <a href="{base}sfm-plus/offers/{url_title}" class="image">
                                    <img src="{offer_image:310x310}" class="thumbnail img-responsive">
                                </a>
                                <a href="{base}sfm-plus/offers/{url_title}" title="{if current_time > expiration_date}{comp_expired_{language_code}} {if:else}{enter_now_{language_code}}{/if}"><span class="category fixed-enter small">{if current_time > expiration_date}{comp_expired_{language_code}} {if:else}{enter_now_{language_code}}  <i class="fa fa-plus"></i>{/if}</span></a>
                                {if:else}
                                <a href="{base}{offer_custom_competition_url}" class="image">
                                    <img src="{offer_image:310x310}" class="thumbnail img-responsive">
                                </a>
                                <a href="{base}{offer_custom_competition_url}" title="{if current_time > expiration_date}{comp_expired_{language_code}} {if:else}{enter_now_{language_code}}{/if}"><span class="category fixed-enter small">{if current_time > expiration_date}{comp_expired_{language_code}} {if:else}{enter_now_{language_code}}  <i class="fa fa-plus"></i>{/if}</span></a>
                                {/if}
                            </div>

                            <div class="comp-excerpt">
                                <h4>
                                    {if offer_custom_competition == 'n'}
                                    <a href="{base}sfm-plus/offers/{url_title}" title="{offer_name_{language_code}}">{offer_name_{language_code}}</a>
                                    {if:else}
                                    <a href="{base}{offer_custom_competition_url}" title="{offer_name_{language_code}}">{offer_name_{language_code}}</a>
                                    {/if}
                                </h4>
                                <p>{offer_excerpt_{language_code}}</p>
                            </div>
                        </div>

                        {exp:grouper:end groupby="4" count="{count}" total="{total_results}"}

                    </div>
                    {/exp:grouper:end}

                {/exp:channel:entries}
            </div>
        </div>
    </div>
</section>