{embed="__includes/wrapper" body_class="home"}

{exp:partials:set name="main-escape"}
<div class="container-fluid">
    <div id="container">

        <ul class="list-unstyled">
	    {exp:channel:entries channel="entry" sticky="no" dynamic="no" limit="50" category_group="2" orderby="entry_date" sort="desc"}
	    <li class="col-md-4">
        <article class="clearfix" style="margin-bottom: 30px;">
            <div class="box {entry_type}-auto {if entry_trending == 'yes'}trending{/if}">

                <span class="entry-category">{categories} {category_name} {/categories}</span>
                <h1 class="entry-title">{entry_name_{language_code}}</h1>

	            {if entry_trending == "yes"}
	            <div class="trending-tag text-uppercase">
		            <span class="fa-stack fa-md">
					  <i class="fa fa-circle-o-notch fa-stack-2x"></i>
					  <i class="fa fa fa-fire fa-stack-1x"></i>
					</span>
					Trending
	            </div>
	            {/if}

                {exp:switchee variable="{entry_type}" parse="inward"}
                    {case value="video"}
		            <div class="video">
			            <div class="embed-responsive embed-responsive-16by9">
				            <iframe id="yt_{entry_id}" class="embed-responsive-item" src="{youtube_video_link}?showinfo=0&wmode=opaque&enablejsapi=1" frameborder="0"></iframe>
			            </div>
		            </div>
                    {/case}

                    {case value="article"}
                    <figure class="post-thumb">
                        <a href="{base}articles/reading/{url_title}">
                            <img src="{entry_image:packery_large_width}" class="img-responsive" alt="{entry_name_{language_code}}">
                        </a>
                    </figure>
                    {/case}

                    {case value="lookbook"}
                    <div id="fs_{entry_id}" class="flexslider">
                        <ul class="slides">
                            {entry_gallery limit="2"}
                            <li>
                                <figure class="post-thumb">
                                    <a href="{base}fashion-fix/viewing/{url_title}">
                                        <img src="{image_source}" class="img-responsive" alt="{entry_name_{language_code}}">
                                    </a>
                                </figure>
                            </li>
                            {/entry_gallery}
                        </ul>
                    </div>
                    {/case}
                {/exp:switchee}

	            {if entry_description}
                <div class="entry-content">
                    <p>{entry_description_{language_code}}</p>
                </div>
	            {/if}

                <div class="entry-meta clearfix">
                    <ul class="list-inline meta-items">
                        <li data-toggle="tooltip" data-placement="top" title="{comment_total} comments">
                            <i class="fa fa-comment-o fa-2x fa-fw"></i>
                        </li>
                        <li data-toggle="tooltip" data-placement="top" title="Tweet this on Twitter">
                           <i class="fa fa-retweet fa-2x fa-fw"></i>
                        </li>
                        <li data-toggle="tooltip" data-placement="top" title="Share this on Facebook">
                           <i class="fa fa-facebook-official fa-2x fa-fw"></i>
                        </li>
                        <li data-toggle="tooltip" data-placement="top" title="A link to this" class="pull-right">
                           <i class="fa fa-link fa-2x fa-fw"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </article>
	    </li>
        {/exp:channel:entries}
        </ul>

    </div>
</div>
{/exp:partials:set}