{embed="__includes/wrapper" body_class="home"}

{exp:partials:set name="main-escape"}
<div class="container-fluid">
    <div id="container">

        <ul class="list-unstyled">
	    {exp:channel:entries channel="Content"}
	    <li class="col-md-4">
        <article class="clearfix" style="margin-bottom: 30px;">
            <div class="box play-{categories}{category_name}{/categories} {if entry_trending == 'yes'}trending{/if}" data-src="{video}">

                <span class="entry-category">{categories} {category_name} {/categories}</span>
	            <h1 class="entry-title"><a href="{base}{categories}{category_name}{/categories}/{url_title}">{entry_title_{language_code}}</a></h1>

	            {if trending}
	            <div class="trending-tag text-uppercase">
		            <span class="fa-stack fa-md">
					  <i class="fa fa-circle-o-notch fa-stack-2x"></i>
					  <i class="fa fa fa-fire fa-stack-1x"></i>
					</span>
					Trending
	            </div>
	            {/if}

                {exp:switchee variable="{categories}{category_name}{/categories}" parse="inward"}
                    {case value="video"}
		            <div class="video">
			            <div class="embed-responsive embed-responsive-16by9">
				            <iframe id="yt_{entry_id}" class="embed-responsive-item" src="https://www.youtube.com/embed/{video}?showinfo=0&wmode=opaque&enablejsapi=1" frameborder="0"></iframe>
			            </div>
		            </div>
                    {/case}
                {/exp:switchee}

	            <div class="flexslider">
		            <ul class="slides">
			            {images limit="3"}
			            <li>
				            <figure class="post-thumb">
					            <a href="{base}{categories}{category_name}{/categories}/{url_title}">
						            <img src="{images:image:600}" class="img-responsive" alt="{entry_name_{language_code}}">
					            </a>
				            </figure>
			            </li>
			            {/images}
		            </ul>
	            </div>

	            {if entry_body_{language_code}}
                <div class="entry-content">
                    <p>{entry_body_{language_code}}</p>
                </div>
	            {/if}

                <div class="entry-meta clearfix">
                    <ul class="list-inline meta-items">
                        <li data-toggle="tooltip" data-placement="top" title="{comment_total} comments">
	                        <a href="{base}{categories}{category_name}{/categories}/{url_title}/#comments">
                                <i class="fa fa-comment-o fa-2x fa-fw"></i>
	                        </a>
                        </li>

	                    <li data-toggle="tooltip" data-placement="top" title="Tweet this on Twitter">
		                    <a href="//twitter.com/intent/tweet?text={entry_title_{language_code}} {base}{categories}{category_name}{/categories}/{url_title}&amp;hashtags=SFM" target="_blank">
			                    <i class="fa fa-retweet fa-2x fa-fw"></i>
		                    </a>
	                    </li>

	                    <li data-toggle="tooltip" data-placement="top" title="Share this on Facebook">
		                    <a href="#" class="facebook-share"> <i class="fa fa-facebook-official fa-2x fa-fw"></i> </a>
	                    </li>

                        <li data-toggle="tooltip" data-placement="top" title="{entry_title_{language_code}}" class="pull-right">
	                        <a href="{base}{categories}{category_name}{/categories}/{url_title}">
                                <i class="fa fa-link fa-2x fa-fw"></i>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </article>

	    </li>
        {/exp:channel:entries}
        </ul>

    </div>
</div>
{/exp:partials:set}