<nav class="navbar navbar-default navbar-fixed-top">
	<div class="menu-button">
		<a href="#" title="Menu" id="js-toggle-menu">
			<i class="fa fa-bars fa-3x"></i>
		</a>
	</div>
    <div class="container">

        <div class="navbar-header">
	        {!--
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
			--}
            <a class="navbar-brand" href="{base}">
                <img src="/assets/images/logo.png" width="185" height="32" alt="SFM Plus" class="img-responsive">
            </a>
        </div>

        <div class="collapse navbar-collapse" id="main-navigation">
            {exp:low_search:form collection="entry|sfm-plus" search_mode="all" result_page="search" form_class="navbar-form navbar-right hidden-sm search-header" form_id="search-form" form_role="search"}
            <div class="input-group">
                <input type="text" class="form-control search" placeholder="{search_{language_code}}" name="keywords" id="keywords">
                <span class="input-group-addon search-icon"><i class="fa fa-search fa-2x fa-fw"></i></span>
            </div>
            {/exp:low_search:form}

            <ul class="nav navbar-nav navbar-right nav-items">
                <li><a disabled>iStyle</a></li>
                <li><a disabled>Competitions</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">More
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</nav>