<section class="comps-all">
    <div class="row">

        <div class="col-xs-12">
            <h2>{comp_all_{language_code}} {comp_competitions_{language_code}}</h2>

            <p>{comp_allcomps_desc_{language_code}}</p>
            <hr>
        </div>

        {exp:channel:entries channel="offers" cache="yes" refresh="30" show_future_entries="yes" show_expired="yes" orderby="expiration_date" sort="desc" dynamic="no" {if '{embed:detail_entry_id}'}entry_id="not {embed:detail_entry_id}{/if}" search:offer_comphide="no"}
            {exp:grouper:start groupby="4" count="{count}" total="{total_results}"}
            <div class="clearfix">
                {/exp:grouper:start}

                <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                        <a href="{base}{offer_custom_competition_url}" title="{enter_now_{language_code}}">
                            <img data-original="{offer_image:350x350}" class="lazy img-responsive">
                            <noscript>
                                <img src="{offer_image:350x350}" class="img-responsive">
                            </noscript>
                        </a>

                        <div class="caption">
                            <h4>
                                 <a href="{base}{offer_custom_competition_url}" title="{enter_now_{language_code}}">{offer_name_{language_code}}</a>
                            </h4>

                            <p>{offer_excerpt_{language_code}}</p>

                            <p>
                                <a href="{base}{offer_custom_competition_url}" class="btn btn-primary" role="button">{enter_now_{language_code}}</a>
                            </p>
                        </div>
                    </div>
                </div>

                {exp:grouper:end groupby="4" count="{count}" total="{total_results}"}

            </div>
            {/exp:grouper:end}
        {/exp:channel:entries}

    </div>
</section>