<section class="comps-featured">
    <div class="row">

        <div class="col-xs-12">
            <h2>{comp_new_{language_code}} {comp_competitions_{language_code}}</h2>
            <p>{comp_newcomps_desc_{language_code}}</p>
            <hr>
        </div>

        {exp:channel:entries channel="offers" show_future_entries="yes" show_expired="no" orderby="entry_date" limit="3" sort="desc" search:offer_newest="y" search:offer_comphide="no"}
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <a href="{base}{offer_custom_competition_url}" title="{enter_now_{language_code}}">
                    <img data-original="{offer_image:350x350}" class="lazy img-responsive">
                    <noscript>
                        <img src="{offer_image:350x350}" class="img-responsive">
                    </noscript>
                </a>

                <div class="caption">
                    <h3>
                         <a href="{base}{offer_custom_competition_url}" title="{enter_now_{language_code}}">{offer_name_{language_code}}</a>
                    </h3>

                    <p>{offer_excerpt_{language_code}}</p>

                    <p>
                        <a href="{base}{offer_custom_competition_url}" class="btn btn-primary" role="button">{enter_now_{language_code}}</a>
                    </p>
                </div>
            </div>
        </div>
        {/exp:channel:entries}

    </div>
</section>


