<section class="content-section featured-articles">
    <div class="row">
        <div class="col-xs-12">

            <header class="entry-header">
                <h2>
                    {editors_picks_{language_code}}
                </h2>
            </header>

            <hr>

            <div class="row">
                {exp:channel:entries channel="entry" category_group="6" cache="yes" refresh="10" limit="3" sticky="yes" dynamic="no" status="{embed:status}"}
                <article class="col-md-4">
                    <a href="{base}articles/reading/{url_title}/" title="{entry_name_{language_code}}">
                        <img src="{entry_image:3_col_large}" class="thumbnail img-responsive" title="{entry_name_{language_code}}">
                    </a>

                    <h4>
                        <a href="{base}articles/reading/{url_title}/">{entry_name_{language_code}}</a>
                        <span class="label label-default"> {categories limit="1" show_group="6"}{category_name_{language_code}}{/categories}</span>
                    </h4>

                    <p {entry_dir_lng}>{entry_excerpt_lng}</p>
                </article>
                {/exp:channel:entries}
            </div>

        </div>
    </div>
</section>


